<!DOCTYPE html>
<html>
<head>
	<title> Sahron's Rails Forum </title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:400,300,700">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.2/normalize.min.css">
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>

<body>
	<header class= "main_header clearfix">
		<div class= "wrapper">
			<div id="logo">
				<p><%= link_to "SHARON'S RAILS FORUM", root_path %> </p>
			</div>
			<div id= "buttons">
				<% if user_signed_in? %>
					<%= link_to "New Post", new_post_path %>
				<% else %>	
					<%= link_to "Sign up", new_user_registration_path %>
					<%= link_to "Sign in", new_user_session_path %>
				<% end %>
			</div>
		</div>	
	</header>
	<div class= "wrapper">
		<p class="notice"><%= notice %></p>
       	<p class="alert"><%= alert %></p>
	</div>
	<div class= "wrapper">
		<%=yield %>
	</div>	
</body>
</html>

		
	